@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: 'Comfortaa', sans-serif;
  --font-sketch: 'Cabin Sketch', cursive;
}

@media (prefers-color-scheme: dark) {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .list-item {
    @apply px-4 hover:bg-purple-300 rounded-lg cursor-pointer
  }
  .input {
    @apply w-full md:w-3/5 p-4 rounded-sm outline-yellow-500 bg-rose-100
  }
}
